@{
    ViewData["Title"] = "Generic Problem Page";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["problemNumber"]</h2>
<div>@ViewData["problem"]</div>
<input type="text" id="answer" name="answer" /><br />
<input type="submit" value="Submit your answer!" />
<div></div>