@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Project_EFT.Data_Classes;
@{ISession session = HttpContextAccessor.HttpContext.Session; }


@if ((bool)ViewData["ShowPage"])
{
    <h1>@ViewData["Title"]</h1>
    <h2>This is problem number @ViewData["problemNumber"].</h2>
    <div>@ViewData["problem"]</div>
    @if (session.ContainsKey("userInfo") && (bool)ViewData["showProblem"])
    {
        <!-- submission form-->
        <form action="~/Problem/CheckAnswer" method="post">
            <input type="text" id="answer" name="answer" /><br />
            <input type="submit" value="Submit your answer!" />
            <input type="hidden" id="problemNumber" name="problemNumber" value="@ViewData["problemNumber"]" />
            <div></div>
        </form>
    }
    else if (session.ContainsKey("userInfo") && !((bool)ViewData["showProblem"]))
    {
        <br /><br /><div>Congratulations, this problem has been completed!</div>
    }
    else
    {
        <br /><br /><div>In order to submit a solution you must sign in to a User account.</div>
    }
    @if ((ViewData["isCorrect"] != null && (bool)ViewData["isCorrect"]))
    {
        <div style="color:green">Correct!</div>
    }
    else if ((ViewData["isCorrect"] != null && !(bool)ViewData["isCorrect"]))
    {
        <div style="color:crimson">Incorrect, please try again!</div>
    }
}
else
{
    <h1>This problem has not yet been created!</h1>
}


