@using Project_EFT.Data_Classes;

@{ViewData["Title"] = "Ciphers List"; }
<h1> Ciphers </h1>
<table>
    <tr>
        <th>Title</th>
    </tr>
    @{
        // generate row for each cipher in cipher array
        for (int i = 0; i < Program.CipherList.Count; i++)
        {
            <tr>
                <th><a href="/cipher?id=@i">@Program.CipherNames[i]</a></th>
            </tr>
        }
    }
</table>
