@{
    ViewData["Title"] = "Home Page";
}

<div>
    <label>Username:</label>
    <input type="text" id="username" name="username" /><br />
    <label>Password:</label>
    <input type="text" id="password" name="password" /><br />

    <input type="submit" value="Login!" />
</div>
<br />
<div>
    <input type="submit" value="Not already a user?  Click here to make an account!" />

</div>
