@using Project_EFT.Data_Classes;
@using Project_EFT.Database;
@{
    // fetch problem array from view data
    Problem[] problems = DBConnector.problems.ToArray();
}

<h1> Problems </h1>
<table>
    <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Attempts</th>
        <th>Completions</th>
    </tr>
    @{ 
        // generate row for each problem in problems array
        foreach (Problem problem in problems) 
        { 
        <tr>
            <th>@problem.ProblemNumber</th>
            <th><a href="/problem?ID=@problem.ProblemNumber">@problem.Title</a></th>
            <th>@problem.Attempts</th>
            <th>@problem.Completions</th>
        </tr>
        }
    }
</table>
